#app {
  text-align: center;
  padding-top: 20px;
  margin: 0 auto;
}

body {
  background-image: url(../img/back.png);
  padding-bottom: 50px;
}

.right_timer {
  font-family: "Kosugi Maru", Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 15px;
  border: none;
  color: #fff;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 3);
  transition: 0.5s;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
  background-color: black;
}

.right_timer:hover {
  box-shadow: none;
  animation: anime5 0.4s linear 1;
}
@keyframes anime5 {
  100% {
    transform: rotate( -360deg );
  }
}

.right_face {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  animation: anime1 0.4s linear 2;
  border: 5px solid rgb(119, 0, 0);
}
@keyframes anime1 {
  100% {
    transform: rotateY(360deg);
  }
}

.left_face {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  animation: anime2 0.4s linear 2;
  border: 5px solid rgb(119, 0, 0);   
}
@keyframes anime2 {
  100% {
    transform: rotateY(360deg);
  }
}

.left_timer {
  /* display: block; */
  font-family: "Kosugi Maru", Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 15px;
  border: none;
  color: #fff;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 3);
  transition: 0.5s;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.left_timer:hover {
  box-shadow: none;
  animation: anime4 0.4s linear 1;
}
@keyframes anime4 {
  100% {
    transform: rotate( -360deg );
  }
}

.box {
  background: #eee;
  padding: 100px;
  width: 100px;
  text-align: center;
  margin: 0 auto;
}

.button {
  display: inline-block;
  padding: 0.2em 2.5em;
  border: 2px solid #333;
  border-radius: 0.4em 2em 0.5em 3em/3em 0.5em 2em 0.5em;
  color: #333;
  font-family: "Covered By Your Grace", cursive;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.5);
  background-color: rgb(255, 255, 255);
}

.button:hover {
  transition: 0.7s;
  box-shadow: none;
}

.right_timer:hover + .roll {
  animation: rollkAnime 0.7s linear infinite;
}
@keyframes rollkAnime {
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.start_stop{
}

.none{
  padding: 40px;
}