body {
  background-image: url(../img/back.png);
  padding-bottom: 50px;
  text-align: center;
}

.v-enter-active {
  transition: opacity 0.8s, transform 0.7s;
}

.v-enter {
  opacity: 0;
  transform: translateY(30px);
}

[v-cloak] {
  display: none;
}

.right_face {
  display: block;
  background-size: cover;
  background-image: url(../img/button_right.png);
  padding: 200px;
  margin: 50px auto 10px;
  border-radius: 50%;
  border: 5px solid rgb(100, 100, 100);
  animation: anime1 0.4s linear 2;
}
@keyframes anime1 {
  100% {
    transform: rotateY(360deg);
  }
}

.left_face {
  display: block;
  background-size: cover;
  padding: 200px;
  margin: 50px auto 10px;
  border-radius: 50%;
  border: 5px solid rgb(100, 100, 100);
  background-image: url(../img/button_left.png);
  animation: anime2 0.4s linear 2;
}
@keyframes anime2 {
  100% {
    transform: rotateY(360deg);
  }
}

.pick-button {
  margin: auto;
}

.right_timer {
  display: inline-block;
  border: none;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #fff;
  width: 200px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 3);
  border-radius: 50%;
  transition: 0.5s;
}

.right_timer:hover {
  box-shadow: none;
  animation: anime3 0.4s linear 1;
}
@keyframes anime3 {
  100% {
    transform: rotate(360deg);
  }
}

.left_timer {
  display: inline-block;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #fff;
  outline: none;
  width: 200px;
  margin-right: 40px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 3);
  border-radius: 50%;
  transition: 0.5s;
}

.left_timer:hover {
  box-shadow: none;
  animation: anime4 0.4s linear 1;
}
@keyframes anime4 {
  100% {
    transform: rotate(360deg);
  }
}

.timer {
  display: inline-block;
  font-family: "Kosugi Maru", Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background-color: #000;
  font-size: 85px;
  width: 85%;
  margin: 220px auto 35px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.start-button {
  display: inline-block;
  cursor: pointer;
  outline: none;
  background-color: #fff;
  width: 90px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 3);
  border-radius: 50%;
  transition: 0.5s;
}

.start-button:hover {
  box-shadow: none;
}

.stop-button {
  display: inline-block;
  cursor: pointer;
  outline: none;
  background-color: #fff;
  width: 90px;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 3);
  transition: 0.5s;
}

.stop-button:hover {
  box-shadow: none;
}

.reset-button {
  display: inline-block;
  cursor: pointer;
  outline: none;
  background-color: #fff;
  width: 90px;
  margin-left: 30px;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 3);
  transition: 0.5s;
}

.reset-button:hover {
  box-shadow: none;
}

.back-button {
  display: inline-block;
  font-family: "Kosugi Maru", Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  position: relative;
  text-decoration: none;
  color: #1b1b1b;
  background: #fff;
  border: 2px solid #1b1b1b;
  font-size: 20px;
  width: 160px;
  margin-top: 30px;
  padding: 10px;
  border-radius: 5px;
  transition: 0.4s;
}

.back-button:hover {
  background: #1b1b1b;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

@media only screen and (max-width: 540px) {
  .timer {
    font-size: 50px;
  }
  .right_face {
    padding: 140px;
  }
  .left_face {
    padding: 140px;
  }
  .right_timer {
    width: 130px;
  }
  .left_timer {
    width: 130px;
    margin-right: 15px;
  }
}
