body {
  background-image: url(../img/back.png);
  padding-bottom: 50px;
  text-align: center;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.8s, transform 0.7s;
}
.v-enter,
.v-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

[v-cloak] {
  display: none;
}

.right_face {
  display: block;
  padding: 200px;
  margin: 50px auto 10px;
  border-radius: 50%;
  border: 5px solid rgb(100, 100, 100);
  background-image: url(../img/button_right.png);
  background-size: cover;
  animation: anime1 0.4s linear 2;
}
@keyframes anime1 {
  100% {
    transform: rotateY(360deg);
  }
}

.left_face {
  display: block;
  padding: 200px;
  margin: 50px auto 10px;
  border-radius: 50%;
  border: 5px solid rgb(100, 100, 100);
  background-image: url(../img/button_left.png);
  background-size: cover;
  animation: anime2 0.4s linear 2;
}
@keyframes anime2 {
  100% {
    transform: rotateY(360deg);
  }
}

.pick-button {
  margin: auto;
}

.right_timer {
  border: none;
  color: #fff;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 3);
  transition: 0.5s;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  display: inline-block;
  border-radius: 50%;
  width: 200px;
}

.right_timer:hover {
  box-shadow: none;
  animation: anime3 0.4s linear 1;
}
@keyframes anime3 {
  100% {
    transform: rotate(360deg);
  }
}

.left_timer {
  border: none;
  color: #fff;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 3);
  transition: 0.5s;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 40px;
  width: 200px;
}

.left_timer:hover {
  box-shadow: none;
  animation: anime4 0.4s linear 1;
}
@keyframes anime4 {
  100% {
    transform: rotate(360deg);
  }
}

.timer {
  display: inline-block;
  font-family: "Kosugi Maru", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 80px;
  color: white;
  background-color: #000;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin: 220px auto 35px auto;
  padding: 10px;
  width: 85%;
}

.start-button {
  width: 90px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 3);
  transition: 0.5s;
}

.start-button:hover {
  box-shadow: none;
}

.stop-button {
  width: 90px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 3);
  transition: 0.5s;
}

.stop-button:hover {
  box-shadow: none;
}

.reset-button {
  width: 90px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 3);
  margin-left: 30px;
  transition: 0.5s;
}

.reset-button:hover {
  box-shadow: none;
}

.back-button {
  font-family: "Kosugi Maru", Verdana, Geneva, Tahoma, sans-serif;
  display: inline-block;
  position: relative;
  width: 160px;
  margin-top: 25px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #1b1b1b;
  background: #fff;
  border: 2px solid #1b1b1b;
  display: inline-block;
  border-radius: 5px;
  transition: 0.4s;
}

.back-button:hover {
  background: #1b1b1b;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

@media only screen and (max-width: 540px) {
  .timer {
    font-size: 50px;
  }
  .right_face {
    padding: 150px;
  }
  .left_face {
    padding: 150px;
  }
  .right_timer {
    width: 140px;
  }
  .left_timer {
    width: 140px;
  }
}
