<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="img/kurin.jpg" />
    <link href="https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap" rel="stylesheet" />
    <title>RamenTimer</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <div id="app">
      <div v-show="!show">
        <!-- Character Icon -->
        <img v-bind:class="{ right_face: isRight, left_face: isLeft }" />
        <!-- Pick TimeButton -->
        <div class="pick-button">
          <input
            type="image" class="left_timer" src="img/3min.svg"
            @click="show = !show; threeMin()" v-on:mouseover="rotate_left"
          />
          <input
            type="image" class="right_timer" src="img/5min.svg"
            @click="show = !show; fiveMin()" v-on:mouseover="rotate_right"
          />
        </div>
      </div>

      <transition appear>
        <div v-show="show" v-cloak>
          <!-- Timer -->
          <div class="timer">
            <span id="minutes">{{ minutes }}</span>
            <span id="middle">:</span>
            <span id="seconds">{{ seconds }}</span>
          </div>
          <div id="buttons">
            <!-- Start Button -->
            <input
              type="image" src="img/start.svg"
              class="start-button" @click="startTimer" v-if="!timer"
            />
            <!-- Stop Button -->
            <input
              type="image" src="img/stop.svg"
              class="stop-button" @click="stopTimer" v-if="timer"
            />
            <!-- Reset Button -->
            <input
              type="image" src="img/reset.svg"
              class="reset-button" @click="resetTimer" v-if="resetButton"
            />
          </div>
          <a v-on:click="reload" class="back-button">BACK</a>
        </div>
      </transition>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
